.form-control {
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.btn-info {
  color: #fff;
  background-color: #b0422a;
  border-color: #b0422a;
}

.form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: #80bdff;
    outline: none;

}
