.react-reveal {

    opacity: 0;
}

.fade-enter {
    opacity: 0.01;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
 }

  .fade-exit {
    opacity: 1;
    &:after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdd00+0,fff08e+44,fffae0+100 */
  background: #ffdd00; /* Old browsers */
  background: -moz-linear-gradient(left, #ffdd00 0%, #fff08e 44%, #fffae0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffdd00 0%,#fff08e 44%,#fffae0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffdd00 0%,#fff08e 44%,#fffae0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#fffae0',GradientType=1 ); /* IE6-9 */
    z-index: 100;
    content: "";
    transition: left 1s cubic-bezier(.77,0,.175,1);
}

.section-title {

}

  }

  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 700ms ease-in;

    .section-title {

    }
  }
/*
* `classNames="fade"` applies `fade-enter`, `fade-enter-active`,
* `fade-exit`, `fade-exit-active`, `fade-appear`, and `fade-appear-active`.
* Each individual classNames can also be specified independently like:
classNames={{
   *  appear: 'my-appear',
   *  appearActive: 'my-active-appear',
   *  enter: 'my-enter',
   *  enterActive: 'my-active-enter',
   *  exit: 'my-exit',
   *  exitActive: 'my-active-exit',
   * }}
*/
